@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --magenta: #a1005b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-magenta: var(--magenta);
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-outfit);
  --font-mono: monospace;
  --default-font-family: var(--font-outfit);
}

html, body {
  color: var(--foreground);
  font-family: var(--font-outfit), 'Outfit', sans-serif !important;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
